body {
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

form {
    text-align: center;
    font-size: 16px;
    line-height: 50px;
}

form button {
    width: 100%;
}

.textLeft {
    text-align: left;
    width: 100%;
    display: inline-flex;
}

.textRight {
    text-align: right;
    width: 100%;
}

th {
    text-align: center;
}